<hr>
<div class="container">
    <form #newUserDetails="ngForm" (ngSubmit)="AddUser()" role="form">
      <div class="form-group form-inline">
        <label for="fname" class="col10">First Name :</label>
        <input type="text" class="form-control col70" id="fname" placeholder="First Name" name="firstName" [(ngModel)]='newUser.firstName'
          required>
      </div>
      <div class="form-group form-inline">
        <label for="" class="col10">Last Name :</label>
        <input type="text" class="form-control col70" id="" placeholder="Last Name"
        name='lastName' [(ngModel)]='newUser.lastName' required>
      </div>
      <div class="form-group form-inline">
          <label for="associate" class="col10">Associate Id :</label>
          <input type="text" class="form-control col20" id="" placeholder="Associate id"
          name='employee_ID' [(ngModel)]='newUser.employee_ID' required>
        </div>
      <div class="form-group form-inline">
        <button type="submit" id='btnadd'  class="btn btn-primary">Add</button>
      <input id='btnupdate'(click)='UpdateUser()' class="btn btn-primary" value='Update' >
        <button type="reset" class="btn btn-primary">Reset</button>
      </div>
  
    </form>
    <hr>
    <app-viewusers></app-viewusers>
  </div>