<div class="container">
  <form #newTaskDetails="ngForm" (ngSubmit)="submitUpdateTask()">
    <hr> {{newTaskDetails.value |json}}
    <div class="form-group form-inline ">
      <label for="project" class="col10">Project :</label>
      <input type="text" readOnly class="form-control col70 " id="project" placeholder="Project Name"  name="project" [(ngModel)]='updateTask.project'
        required>
    </div>
    <div class="form-group form-inline ">
      <label for="task" class="col10">Task :</label>
      <input type="text" class="form-control col70 " id="task" name="task" [(ngModel)]="updateTask.task" required>
    </div>
    <div class="form-group form-inline ">
      <input type="checkbox" name="isChecked" [(ngModel)]='isChecked' (change)='isReadOnly(isChecked)'>
      <label>Parent task </label>
    </div>
    <div class="form-group form-inline ">
      <label for="priority" class="col10">Priority:</label>
      <input type="range" class="form-control col70" id="priority" min="0" max="30" name="priority" [(ngModel)]="updateTask.priority"
        value="0" required>
      <span>
        {{newTaskDetails.value.priority}}
      </span>
    </div>
    <div class="form-group form-inline">
      <label for="parent_task" class="col10">Parent Task</label>
      <input type="text" readOnly class="form-control col70" id="parent_task" name="parent_task" [(ngModel)]="updateTask.parent_task"
        required>
      <input type="button" *ngIf='isChecked' id='modalParent' class="btn btn-secondary" data-toggle="modal" href='#modal-ParentTask' value="Search">
    </div>
    <div class="form-group form-inline">
      <label for="startdate" class="col10">Start date</label>
      <input type="date" class="form-control" id="startdate" name="start_date" [(ngModel)]="updateTask.start_date" required>
      <label for="end_date" class="col10">End date</label>
      <input type="date" class="form-control" id="end_date" name="end_date" [(ngModel)]="updateTask.end_date" required>
    </div>

    <div class="form-group form-inline">
      <label for="user" class="col10">User</label>
      <input type="text" class="form-control col70" readonly id="user" name="firstName" [(ngModel)]="updateTask.firstName" required>
      <input type="button" class="btn btn-secondary" data-toggle="modal" href='#modal-User' value="Search">
    </div>

    <div class="form-group" id="btndivision">
      <button type="submit" class="btn btn-default">Update Task</button>
      <button type="" routerLink='/viewtask' class="btn btn-default">Back</button>
    </div>
  </form>
</div>

<!-- ParentTaskModal -->
<div class="modal fade" id="modal-ParentTask">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Select Parent Task</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a class="list-group-item " *ngFor='let x of parentTask' (click)="handleParentInput(x)" data-dismiss="modal">{{x.parent_task}}</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- UserModal -->

<div class="modal fade" id="modal-User">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Select User</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a class="list-group-item " *ngFor='let x of users' (click)="handleUserInput(x)" data-dismiss="modal">{{x.firstName}}</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>