div label{
    margin-left: 1%;
} div input{
    margin-left: 1%;
}
.col10{
    width: 10%;   
}
.col70{
    width: 70%;   
}
.col20{
    width:20%;   
}
 div button{
    margin-left: 1%;  
}
.searchTab{
    margin:1%;
}
table td{
    padding: 1%;
    text-align: center;
}
table{
    border-bottom: dotted rgb(219, 208, 208) 2px;
}
.btn{
    width:100px;
    margin-bottom: 3%
}
